.NewWorkerForm {
    text-align: center;
    background-color: burlywood;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  .Form {
    text-align: center;
    background-color: #ffe6b3;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .NewWorkerButton {
    background-color: #fff7e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .PlaceHolder {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Card {
    text-align: center;
    background-color: #ffe6b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.Names{ 
  text-align: center;
    background-color: #ffe6b3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}